[typeof=Movie] {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 10px;
    padding: 10px;
}

[typeof=Movie] [property=name] {
    font-size: 110%;
    font-weight: bold;
    color: inherit;
}

[typeof=Movie] [property=datePublished] {
    font-weight: bold;
    float:right;
    color: #AAA;
    display: inline-block;
}

[typeof=Movie] [property=director] {
    color: #08C;
    font-weight: bold;
}

[typeof=Movie] [property=director]:before {
    content: " ";
}

[typeof=Movie] [property=director]:not(:last-of-type):after {
    content: ",";
}

[typeof=Movie] [property=productionCompany] {
    color: #777;
}

[typeof=Movie] [property=url] {
    display: block;
    margin: 5px 0;
}

@media only screen and (max-device-width : 480px) {
    [typeof=Movie] {
        display: block;
        width: 100%;
        margin: 0;
    }
}
