[typeof=Movie] {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

[typeof=Movie] [property=name] {
    font-size: 110%;
    font-weight: bold;
    color: inherit;
}

[typeof=Movie] [property=datePublished] {
    font-weight: bold;
    float:right;
    color: #AAA;
    display: inline-block;
}

[typeof=Movie] [property=director] {
    color: #08C;
    font-weight: bold;
}

[typeof=Movie] [property=productionCompany] {
    color: #777;
}

[typeof=Movie] [property=url] {
    display: block;
    margin: 5px 0;
    box-shadow: 0 2px 8px black;
}

@media only screen and (max-device-width: 480px) {
    [typeof=Movie] {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.plural > [property]:before{
    content: " ";
}

.plural > [property]:not(:last-of-type):after {
    content: ",";
}
